@{
    ViewBag.Title = "Donation";
    var cause = Convert.ToString(ViewData["cause"]);
}
<script>
        $(function() {
            $('input').keyup(function () {
                this.value = this.value.toLowerCase().replace(/(?:^|\s)\w/g, function(match) {
      
            });
        });
    </script> 
    <script  type="text/javascript">  
        

        @*function displayresult() {
            document.getElementById("supporttype").value= @cause 
        }*@


        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
        }
        window.onload=function(){
            displayresult();
        }
    </script> 
<style>
    .box {
        box-shadow: 1px 15px 26px 9px rgba(168,158,168,1);
    }
</style>

<script>

    $(document).ready(function () {
        ChangeSupportType();
    });

    function ChangeSupportType() {
        var supportcause = document.getElementById("supporttype");
        var selectedText = supportcause.options[supportcause.selectedIndex].text;
        if (selectedText  == "Ab Har Koi Padhega") 
        {
            ///amountdivtag
            $("#SanitoryPadsA").hide();
            $("#BedA").hide();
            $("#MedicalCampA").hide();
            $("#PadhegaA").show();
            $("#GirlsA").hide();
            $("#SchoolA").hide();
            $("#LivelihoodA").hide();
            $("#amount").hide();
            $("#custom").hide();


            ////////text divtag
            $("#SanitoryPadsT").hide();
            $("#BedT").hide();
            $("#MedicalCampT").hide();
            $("#PadhegaT").hide();
            $("#GirlsT").hide();
            $("#SchoolT").hide();
            $("#LivelihoodT").hide();
               
                
          
        }
        else  if (selectedText == "Ab Baari Hai Hamari") {
            $("#SanitoryPadsA").hide();
            $("#BedA").hide();
            $("#MedicalCampA").hide();
            $("#PadhegaA").hide();
            $("#GirlsA").hide();
            $("#SchoolA").hide();
            $("#LivelihoodA").show();
            $("#amount").hide();
            $("#custom").hide();
            ////////text divtag
            $("#SanitoryPadsT").hide();
            $("#BedT").hide();
            $("#MedicalCampT").hide();
            $("#PadhegaT").hide();
            $("#GirlsT").hide();
            $("#SchoolT").hide();
            $("#LivelihoodT").hide();


        }
        else  if (selectedText == "Girl's Education") {
            $("#SanitoryPadsA").hide();
            $("#BedA").hide();
            $("#MedicalCampA").hide();
            $("#PadhegaA").hide();
            $("#GirlsA").show();
            $("#SchoolA").hide();
            $("#LivelihoodA").hide();
            $("#amount").hide();
            $("#custom").hide();
            ////////text divtag
            $("#SanitoryPadsT").hide();
            $("#BedT").hide();
            $("#MedicalCampT").hide();
            $("#PadhegaT").hide();
            $("#GirlsT").hide();
            $("#SchoolT").hide();
            $("#LivelihoodT").hide();

        }
        else  if (selectedText == "Sanitary Pads Distribution For Poor Women") {
            $("#SanitoryPadsA").show();
            $("#BedA").hide();
            $("#MedicalCampA").hide();
            $("#PadhegaA").hide();
            $("#GirlsA").hide();
            $("#SchoolA").hide();
            $("#LivelihoodA").hide();
            $("#amount").hide();
            $("#custom").hide();
            ////////text divtag
            $("#SanitoryPadsT").hide();
            $("#BedT").hide();
            $("#MedicalCampT").hide();
            $("#PadhegaT").hide();
            $("#GirlsT").hide();
            $("#SchoolT").hide();
            $("#LivelihoodT").hide();
        }
        else  if (selectedText == "100 Bed Charitable Hospital") {
            $("#SanitoryPadsA").hide();
            $("#BedA").show();
            $("#MedicalCampA").hide();
            $("#PadhegaA").hide();
            $("#GirlsA").hide();
            $("#SchoolA").hide();
            $("#LivelihoodA").hide();
            $("#amount").hide();
            $("#custom").hide();
            ////////text divtag
            $("#SanitoryPadsT").hide();
            $("#BedT").hide();
            $("#MedicalCampT").hide();
            $("#PadhegaT").hide();
            $("#GirlsT").hide();
            $("#SchoolT").hide();
            $("#LivelihoodT").hide();
        }
        else  if (selectedText == "Weekly Medical Camp In Rural Areas") {
            $("#SanitoryPadsA").hide();
            $("#BedA").hide();
            $("#MedicalCampA").show();
            $("#PadhegaA").hide();
            $("#GirlsA").hide();
            $("#SchoolA").hide();
            $("#LivelihoodA").hide();
            $("#amount").hide();
            $("#custom").hide();
            ////////text divtag
            $("#SanitoryPadsT").hide();
            $("#BedT").hide();
            $("#MedicalCampT").hide();
            $("#PadhegaT").hide();
            $("#GirlsT").hide();
            $("#SchoolT").hide();
            $("#LivelihoodT").hide();
        }
        else  if (selectedText == "Charitable Public School") {
            $("#SanitoryPadsA").hide();
            $("#BedA").hide();
            $("#MedicalCampA").hide();
            $("#PadhegaA").hide();
            $("#GirlsA").hide();
            $("#SchoolA").show();
            $("#LivelihoodA").hide();
            $("#amount").hide();
            $("#custom").hide();
            ////////text divtag
            $("#SanitoryPadsT").hide();
            $("#BedT").hide();
            $("#MedicalCampT").hide();
            $("#PadhegaT").hide();
            $("#GirlsT").hide();
            $("#SchoolT").hide();
            $("#LivelihoodT").hide();
        }
        else {
            $("#SanitoryPadsA").hide();
            $("#BedA").hide();
            $("#MedicalCampA").hide();
            $("#PadhegaA").hide();
            $("#GirlsA").hide();
            $("#SchoolA").hide();
            $("#LivelihoodA").hide();
            $("#amount").hide();
            $("#custom").hide();
            ////////text divtag
            $("#SanitoryPadsT").hide();
            $("#BedT").hide();
            $("#MedicalCampT").hide();
            $("#PadhegaT").hide();
            $("#GirlsT").hide();
            $("#SchoolT").hide();
            $("#LivelihoodT").hide();
        }
       
    }

    //$(function () {
    //    $("#supporttype").change(function() {
    //        debugger
    //        var supportcause = document.getElementById("supporttype");
    //        var selectedText = supportcause.options[supportcause.selectedIndex].text;
    //        if (selectedText  == "Ab Har Koi Padhega") 
    //        {
    //            ///amountdivtag
    //            $("#SanitoryPadsA").hide();
    //            $("#BedA").hide();
    //            $("#MedicalCampA").hide();
    //            $("#PadhegaA").show();
    //            $("#GirlsA").hide();
    //            $("#SchoolA").hide();
    //            $("#LivelihoodA").hide();
    //            $("#amount").hide();
    //            $("#custom").hide();


    //            ////////text divtag
    //            $("#SanitoryPadsT").hide();
    //            $("#BedT").hide();
    //            $("#MedicalCampT").hide();
    //            $("#PadhegaT").hide();
    //            $("#GirlsT").hide();
    //            $("#SchoolT").hide();
    //            $("#LivelihoodT").hide();
               
                
          
    //        }
    //        else  if (selectedText == "Ab Baari Hai Hamari") {
    //            $("#SanitoryPadsA").hide();
    //            $("#BedA").hide();
    //            $("#MedicalCampA").hide();
    //            $("#PadhegaA").hide();
    //            $("#GirlsA").hide();
    //            $("#SchoolA").hide();
    //            $("#LivelihoodA").show();
    //            $("#amount").hide();
    //            $("#custom").hide();
    //            ////////text divtag
    //            $("#SanitoryPadsT").hide();
    //            $("#BedT").hide();
    //            $("#MedicalCampT").hide();
    //            $("#PadhegaT").hide();
    //            $("#GirlsT").hide();
    //            $("#SchoolT").hide();
    //            $("#LivelihoodT").hide();


    //        }
    //        else  if (selectedText == "Girl's Education") {
    //             $("#SanitoryPadsA").hide();
    //             $("#BedA").hide();
    //             $("#MedicalCampA").hide();
    //             $("#PadhegaA").hide();
    //             $("#GirlsA").show();
    //             $("#SchoolA").hide();
    //             $("#LivelihoodA").hide();
    //             $("#amount").hide();
    //             $("#custom").hide();
    //            ////////text divtag
    //             $("#SanitoryPadsT").hide();
    //             $("#BedT").hide();
    //             $("#MedicalCampT").hide();
    //             $("#PadhegaT").hide();
    //             $("#GirlsT").hide();
    //             $("#SchoolT").hide();
    //             $("#LivelihoodT").hide();

    //         }
    //        else  if (selectedText == "Sanitary Pads Distribution For Poor Women") {
    //             $("#SanitoryPadsA").show();
    //             $("#BedA").hide();
    //             $("#MedicalCampA").hide();
    //             $("#PadhegaA").hide();
    //             $("#GirlsA").hide();
    //             $("#SchoolA").hide();
    //             $("#LivelihoodA").hide();
    //             $("#amount").hide();
    //             $("#custom").hide();
    //            ////////text divtag
    //             $("#SanitoryPadsT").hide();
    //             $("#BedT").hide();
    //             $("#MedicalCampT").hide();
    //             $("#PadhegaT").hide();
    //             $("#GirlsT").hide();
    //             $("#SchoolT").hide();
    //             $("#LivelihoodT").hide();
    //         }
    //        else  if (selectedText == "100 Bed Charitable Hospital") {
    //             $("#SanitoryPadsA").hide();
    //             $("#BedA").show();
    //             $("#MedicalCampA").hide();
    //             $("#PadhegaA").hide();
    //             $("#GirlsA").hide();
    //             $("#SchoolA").hide();
    //             $("#LivelihoodA").hide();
    //             $("#amount").hide();
    //             $("#custom").hide();
    //            ////////text divtag
    //             $("#SanitoryPadsT").hide();
    //             $("#BedT").hide();
    //             $("#MedicalCampT").hide();
    //             $("#PadhegaT").hide();
    //             $("#GirlsT").hide();
    //             $("#SchoolT").hide();
    //             $("#LivelihoodT").hide();
    //        }
    //        else  if (selectedText == "Weekly Medical Camp In Rural Areas") {
    //            $("#SanitoryPadsA").hide();
    //            $("#BedA").hide();
    //            $("#MedicalCampA").show();
    //            $("#PadhegaA").hide();
    //            $("#GirlsA").hide();
    //            $("#SchoolA").hide();
    //            $("#LivelihoodA").hide();
    //            $("#amount").hide();
    //            $("#custom").hide();
    //            ////////text divtag
    //            $("#SanitoryPadsT").hide();
    //            $("#BedT").hide();
    //            $("#MedicalCampT").hide();
    //            $("#PadhegaT").hide();
    //            $("#GirlsT").hide();
    //            $("#SchoolT").hide();
    //            $("#LivelihoodT").hide();
    //        }
    //        else  if (selectedText == "Charitable Public School") {
    //             $("#SanitoryPadsA").hide();
    //             $("#BedA").hide();
    //             $("#MedicalCampA").hide();
    //             $("#PadhegaA").hide();
    //             $("#GirlsA").hide();
    //             $("#SchoolA").show();
    //             $("#LivelihoodA").hide();
    //             $("#amount").hide();
    //             $("#custom").hide();
    //            ////////text divtag
    //             $("#SanitoryPadsT").hide();
    //             $("#BedT").hide();
    //             $("#MedicalCampT").hide();
    //             $("#PadhegaT").hide();
    //             $("#GirlsT").hide();
    //             $("#SchoolT").hide();
    //             $("#LivelihoodT").hide();
    //         }
    //         else {
    //             $("#SanitoryPadsA").hide();
    //             $("#BedA").hide();
    //             $("#MedicalCampA").hide();
    //             $("#PadhegaA").hide();
    //             $("#GirlsA").hide();
    //             $("#SchoolA").hide();
    //             $("#LivelihoodA").hide();
    //             $("#amount").hide();
    //             $("#custom").hide();
    //            ////////text divtag
    //             $("#SanitoryPadsT").hide();
    //             $("#BedT").hide();
    //             $("#MedicalCampT").hide();
    //             $("#PadhegaT").hide();
    //             $("#GirlsT").hide();
    //             $("#SchoolT").hide();
    //             $("#LivelihoodT").hide();
    //        }
       
    //    });
    //});
    $(function () {
        $("input[type='radio']").change(function () {
            var supportcause = document.getElementById("supporttype");
            var selectedText = supportcause.options[supportcause.selectedIndex].text;
            if (selectedText  == "Ab Har Koi Padhega") 
            {
                if (($(this).val() == "1")) {
                    document.getElementById("PadhegaT").innerHTML="Your donation will help for the education of 1 Child for 3 months";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").show();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "2")) {
                    document.getElementById("PadhegaT").innerHTML="Your donation will help for the education of 1 Child for 6 months";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").show();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
               
                }
                else if (($(this).val() == "3")) {
                    document.getElementById("PadhegaT").innerHTML="Your donation will help for the education of 1 Child for 1 year";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").show();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
               
                }
                else if (($(this).val() == "4")) {
                    document.getElementById("PadhegaT").innerHTML="Your donation will help for the education of 2 Children for 1 year";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").show();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                
                }
            }
            
            if (selectedText  == "Ab Baari Hai Hamari") 
            {
                if (($(this).val() == "1")) {
                    document.getElementById("LivelihoodT").innerHTML="Your donation will help for the training of 1 YOUTH";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").show();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "2")) {
                    document.getElementById("LivelihoodT").innerHTML="Your donation will help for the training of 2 YOUTH";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").show();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "3")) {
                    document.getElementById("LivelihoodT").innerHTML="Your donation will help for the training of 3 YOUTH";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").show();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "4")) {
                    document.getElementById("LivelihoodT").innerHTML="Your donation will help for the training of 1 YOUTH";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").show();
                    $("#amount").hide();
                    $("#custom").hide();
                  
                
                }
            }
           
            if (selectedText  == "Girl's Education") 
            {
                if (($(this).val() == "1")) {
                    document.getElementById("GirlsT").innerHTML="Your donation will help for the education of 1 Child for 6 months";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").show();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "2")) {
                    document.getElementById("GirlsT").innerHTML="Your donation will help for the education of 1 Child for 1 year";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").show();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
               
                }
                else if (($(this).val() == "3")) {
                    document.getElementById("GirlsT").innerHTML="Your donation will help for the education of 3 Children for 1 year";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").show();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
               
                }
                else if (($(this).val() == "4")) {
                    document.getElementById("GirlsT").innerHTML="Your donation will help for the education of 6 Children for 1 year";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").show();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                
                }
            }
           
            if (selectedText  == "Sanitary Pads Distribution For Poor Women") 
            {
                if (($(this).val() == "1")) {
                    document.getElementById("SanitoryPadsT").innerHTML="Your donation will help 10 girls to get a sanitary pads kit for 1 month";
                    $("#SanitoryPadsT").show();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "2")) {
                    document.getElementById("SanitoryPadsT").innerHTML="Your donation will help 25 girls to get a sanitary pads kit for 1 month";
                    $("#SanitoryPadsT").show();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "3")) {
                    document.getElementById("SanitoryPadsT").innerHTML="Your donation will help 50 girls to get a sanitary pads kit for 1 month";
                    $("#SanitoryPadsT").show();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "4")) {
                    document.getElementById("SanitoryPadsT").innerHTML="Your donation will help 100 girls to get a sanitary pads kit for 1 month";
                    $("#SanitoryPadsT").show();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
            }
           
            if (selectedText  == "100 Bed Charitable Hospital") 
            {
                if (($(this).val() == "1")) {
                    document.getElementById("BedT").innerHTML="Your donation will help Patient care / Infrastructure";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").show();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "2")) {
                    document.getElementById("BedT").innerHTML="Your donation will help Patient care / Infrastructure";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").show();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
               
                }
                else if (($(this).val() == "3")) {
                    document.getElementById("BedT").innerHTML="Your donation will help Patient care / Infrastructure";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").show();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
               
                }
                else if (($(this).val() == "4")) {
                    document.getElementById("BedT").innerHTML="Your donation will help Patient care / Infrastructure";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").show();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                
                }
            }
           
            if (selectedText  == "Weekly Medical Camp In Rural Areas") 
            {
                if (($(this).val() == "1")) {
                    document.getElementById("MedicalCampT").innerHTML="Your donation will help take healthcare services to doorsteps of vulnerable children and families";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").show();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "2")) {
                    document.getElementById("MedicalCampT").innerHTML="Your donation will help take healthcare services to doorsteps of vulnerable children and families";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").show();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "3")) {
                    document.getElementById("MedicalCampT").innerHTML="Your donation will help take healthcare services to doorsteps of vulnerable children and families";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").show();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "4")) {
                    document.getElementById("MedicalCampT").innerHTML="Your donation will help take healthcare services to doorsteps of vulnerable children and families";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").show();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").hide();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
                }
            }
           
            if (selectedText  == "Charitable Public School") 
            {
                if (($(this).val() == "1")) {
                    document.getElementById("SchoolT").innerHTML="Your donation will help in education / Infrastructure for children";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").show();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "2")) {
                    document.getElementById("SchoolT").innerHTML="Your donation will help in education / Infrastructure for children";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").show();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "3")) {
                    document.getElementById("SchoolT").innerHTML="Your donation will help in education / Infrastructure for children";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").show();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
               
                }
                else if (($(this).val() == "4")) {
                    document.getElementById("SchoolT").innerHTML="Your donation will help in education / Infrastructure for children";
                    $("#SanitoryPadsT").hide();
                    $("#BedT").hide();
                    $("#MedicalCampT").hide();
                    $("#PadhegaT").hide();
                    $("#GirlsT").hide();
                    $("#SchoolT").show();
                    $("#LivelihoodT").hide();
                    $("#amount").hide();
                    $("#custom").hide();
                  
                
                }
            }
           
        });
    });
    $(document).ready(function () {
        $("input[type='radio']").change(function () {
            if ($(this).val() == "0") {
                $("#amount").show();
                $("#custom").show();
                ////////text divtag
                $("#SanitoryPadsT").hide();
                $("#BedT").hide();
                $("#MedicalCampT").hide();
                $("#PadhegaT").hide();
                $("#GirlsT").hide();
                $("#SchoolT").hide();
                $("#LivelihoodT").hide();
            }
            else {
                $("#amount").hide();
                $("#custom").hide();
            }
        });
    });
    //function checkButton() {
    //    var getSelectedValue = document.querySelector(
    //        'input[name="amount"]:checked');

    //    if (getSelectedValue != null) {
    //        document.getElementById("amountbox").innerHTML
    //            = getSelectedValue.value
    //            ;
    //    }
    //    else {
    //        document.getElementById("error").innerHTML
    //            = "*You have not selected any amount";
    //    }
    //}

    function checkButton(amount) {
        debugger
        $("#amount").val(amount);
    }
</script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: 'dd-mm-yyyy',
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            maxDate: '-1d'
        });
    });

</script>

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../Content/Home/images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white text-center">Donate Us</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Donate Us</a></li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start main-content -->
    <div class="main-content">



        <!-- Divider: Make a Donation -->
        <section class="divider parallax" data-bg-img="images/bg/bg7.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 ">
                        <div>
                            <h3 class="mt-0 text-black" style="text-align:center;">Bank Details</h3>
                            <h5 class="text-theme-colored mt-0 pt-5">Direct Bank Transfer through Net Banking, QR Code or Cheque  </h5>
                            <div class="widget" style="text-align:center;">
                                <img class="img" src="~/Content/Home/images/team/icicibank.png" style="height:30px;width:300px" alt="" />
                            </div>
                            <!-- ===== START: Paypal Both Onetime/Recurring Form ===== -->
                            <table class="table table-bordered">

                                <tbody>

                                    <tr>
                                        <th>Beneficiary Account Name :</th>
                                        <td>ODH FOUNDATION</td>

                                    </tr>


                                    <tr>
                                        <th>Account Number :</th>
                                        <td> 407905000870</td>

                                    </tr>
                                    <tr>
                                        <th>Account Type:</th>
                                        <td>Current Account</td>
                                    </tr>
                                    <tr>
                                        <th>IFSC Code:</th>
                                        <td>ICIC0004079</td>
                                    </tr>

                                </tbody>
                            </table>
                            <table class="table table-bordered">


                                <div class="widget" style="text-align:center;">
                                    <img class="img" src="~/Content/Home/images/team/pnb.jpg" style="height:90px;width:300px" alt="" />
                                </div>

                                <tbody>

                                    <tr>
                                        <th>Beneficiary Account Name :</th>
                                        <td>ODH FOUNDATION</td>

                                    </tr>

                                    </tr>
                                    <tr>
                                        <th>Account Number :</th>
                                        <td> 1892002100008186</td>

                                    </tr>
                                    <tr>
                                        <th>Account Type:</th>
                                        <td>Current Account</td>
                                    </tr>
                                    <tr>
                                        <th>IFSC Code:</th>
                                        <td>PUNB0189200</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <div class="widget" style="text-align: center;">


                                    <h4 class="text-theme-colored mt-0 pt-5">Scan QR Code to Donate  </h4>


                                    <img alt="" src="../Content/Home/images/ODHQR.jpg" height="200" width="200" /><br />
                                    <span style="width: 200px; color: red; text-align:right;"><strong>ODH FOUNDATION </strong>  </span>
                                    <p class="mb-10">
                                        In case you have donated directly through Bank Transfer, QR Code or Cheque, kindly WhatsApp your details such as Name, Full address, Pan and Aadhar for Tax Exemption receipt on

                                        +91-9795505106
                                        Or Email us on contactus@odhfoundation.org
                                    </p>


                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="bg-theme-colored pt-60 p-20">
                            <h3 class="text-white" style="text-align:center">Make a Donation Now!</h3>

                            <!-- ===== START: Paypal Both Onetime/Recurring Form ===== -->
                            <form id="donarForm" action="#" accept-charset="UTF-8" method="dialog">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group text-white">
                                            <label><strong class="">Support The Cause</strong></label>
                                            <select name="SupportType" id="supporttype" class="form-control" onchange="ChangeSupportType()" >
                                                <option value="">Select Cause</option>
                                                <!-- Support Type 1-->
                                                @if (ViewBag.cause == "Ab Har Koi Padhega")
                                                {
                                                    <option value="Education" selected>Ab Har Koi Padhega</option>
                                                }
                                                else
                                                {
                                                    <option value="Education">Ab Har Koi Padhega</option>
                                                }
                                                
                                                <!-- Support Type 2-->
                                                @if (ViewBag.cause == "Ab Baari Hai Hamari")
                                                {
                                                    <option value="Livelihood" id="Ab Baari Hai Hamari" selected>Ab Baari Hai Hamari</option>
                                                }
                                                else
                                                {
                                                    <option value="Livelihood" id="Ab Baari Hai Hamari">Ab Baari Hai Hamari</option>
                                                }

                                                <!-- Support Type 3-->
                                                @if (ViewBag.cause == "Girl's Education")
                                                {
                                                    <option value="Education" id="Girl's Education" selected>Girl's Education</option>
                                                }
                                                else
                                                {
                                                   <option value="Education" id="Girl's Education">Girl's Education</option>
                                                }
                                                
                                                <!-- Support Type 4-->
                                                @if (ViewBag.cause == "Sanitary Pads Distribution For Poor Women")
                                                {
                                                    <option value="Health" id="" selected>Sanitary Pads Distribution For Poor Women</option>
                                                }
                                                else
                                                {
                                                   <option value="Health" id="">Sanitary Pads Distribution For Poor Women</option>
                                                }

                                                <!-- Support Type 5-->
                                                @if (ViewBag.cause == "100 Bed Charitable Hospital")
                                                {
                                                    <option value="Health" id="" selected>100 Bed Charitable Hospital</option>
                                                }
                                                else
                                                {
                                                   <option value="Health" id="">100 Bed Charitable Hospital</option>
                                                }
                                                
                                                <!-- Support Type 6-->
                                                @if (ViewBag.cause == "Weekly Medical Camp In Rural Areas")
                                                {
                                                    <option value="Health" id="" selected>Weekly Medical Camp In Rural Areas</option>
                                                }
                                                else
                                                {
                                                   <option value="Health" id="">Weekly Medical Camp In Rural Areas</option>
                                                }

                                                <!-- Support Type 7-->
                                                @if (ViewBag.cause == "Charitable Public School")
                                                {
                                                    <option value="Education" id="" selected>Charitable Public School</option>
                                                }
                                                else
                                                {
                                                   <option value="Education" id="">Charitable Public School</option>
                                                }
                                                
                                                
                                            </select>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                        <div class="form-group  text-white">
                                            <label><strong class="">How much do you want to donate?</strong></label>
                                            <div class="radio" id="SanitoryPadsA" style="display:none;">
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="1" onclick="checkButton(this.value)">
                                                    2000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="2" onclick="checkButton(this.value)">
                                                    5000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="3" onclick="checkButton(this.value)">
                                                    10000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="4" onclick="checkButton(this.value)">
                                                    20000 Rs.
                                                </label>

                                               <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="0" onclick="checkButton(this.value)">
                                                    Other Amount
                                                </label>
                                            </div>
                                            <div class="radio" id="BedA" style="display:none;">
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="1" onclick="checkButton(this.value)">
                                                    10000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="2" onclick="checkButton(this.value)">
                                                    50000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="3" onclick="checkButton(this.value)">
                                                    500000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="4" onclick="checkButton(this.value)">
                                                    1000000 Rs.
                                                </label>

                                               <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="0" onclick="checkButton(this.value)">
                                                    Other Amount
                                                </label>
                                            </div>
                                            <div class="radio" id="MedicalCampA" style="display:none;">
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="1" onclick="checkButton(this.value)">
                                                    2000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="2" onclick="checkButton(this.value)">
                                                    3000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="3" onclick="checkButton(this.value)">
                                                    5000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="4" onclick="checkButton(this.value)">
                                                    10000 Rs.
                                                </label>

                                               <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="0" onclick="checkButton(this.value)">
                                                    Other Amount
                                                </label>
                                            </div>
                                            <div class="radio" id="PadhegaA" style="display:none;">
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="1" onclick="checkButton(this.value)">
                                                    1500 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="2" onclick="checkButton(this.value)">
                                                    3000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="3" onclick="checkButton(this.value)">
                                                    6000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="4" onclick="checkButton(this.value)">
                                                    12000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="0" onclick="checkButton(this.value)">
                                                    Other Amount
                                                </label>
                                               
                                            </div>
                                            <div class="radio" id="GirlsA" style="display:none;">
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="1" onclick="checkButton(this.value)">
                                                    3000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="2" onclick="checkButton(this.value)">
                                                    6000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="3" onclick="checkButton(this.value)">
                                                    18000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="4" onclick="checkButton(this.value)">
                                                    36000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="0" onclick="checkButton(this.value)">
                                                    Other Amount
                                                </label>
                                               
                                            </div>
                                            <div class="radio" id="SchoolA" style="display:none;">
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="1" onclick="checkButton(this.value)">
                                                    5000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="2" onclick="checkButton(this.value)">
                                                    10000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="3" onclick="checkButton(this.value)">
                                                    50000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="4" onclick="checkButton(this.value)">
                                                    100000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="0" onclick="checkButton(this.value)">
                                                    Other Amount
                                                </label>
                                               
                                            </div>
                                            <div class="radio" id="LivelihoodA" style="display:none;">
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="1" onclick="checkButton(this.value)">
                                                    5000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="2" onclick="checkButton(this.value)">
                                                    10000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="3" onclick="checkButton(this.value)">
                                                    15000 Rs.
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="4" onclick="checkButton(this.value)">
                                                    20000 Rs.
                                                </label>

                                                <label class="radio-inline">
                                                    <input type="radio" name="amount_option" value="0" onclick="checkButton(this.value)">
                                                    Other Amount
                                                </label>
                                            </div>
                                            
                                            <div id="custom_other_amount">
                                                <label id="custom" style="display:none;"><strong>Custom Amount:</strong></label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="amount" name="DonateAmount" style="display:none;" placeholder="Enter Amount">
                                                </div>
                                            </div>
                                            
             
                                            
                                            
                                            <label id="PadhegaT" style="display:none;"></label>
                                            <label id="LivelihoodT" style="display:none;"></label>
                                            <label id="SanitoryPadsT" style="display:none;"></label>
                                            <label id="MedicalCampT" style="display:none;"></label>
                                            <label id="BedT" style="display:none;"></label>
                                            <label id="GirlsT" style="display:none;"></label>
                                             <label id="SchoolT" style="display:none;"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong style="color:white">Enter Donor Full Name*</strong></label>
                                        <div class="form-group mb-20 text-white">

                                            <div style="float: left; width: 25%; background-color: #eee">
                                                <select class="form-control" name="title" style="font-size:12px;">
                                                    <option value="Mr.">Mr.</option>
                                                    <option value="Mrs.">Mrs.</option>
                                                    <option value="Miss.">Miss.</option>
                                                    <option value="M/S.">M/S.</option>
                                                </select>
                                            </div>

                                            <div style="float: left; width: 75%;">
                                                <input name="Name" type="text" class="form-control" id="name" value="" placeholder="Enter Full Name" required>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group mb-20 text-white">

                                            <label><strong class="">Enter DOB*</strong></label>
                                            <input name="DOB" class="form-control" value="" id="datepicker" placeholder="Enter Date Of Birth" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Enter Email *</strong></label>
                                            <input name="Email" id="email" type="text" class="form-control" style="text-transform:lowercase" placeholder="Enter Email" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Enter Mobile No.*</strong></label>
                                            <input id="mobNo" name="Phone" type="text" class="form-control" placeholder="Enter Mobile No." required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Select Country Name*</strong></label>
                                            <select name="Country" class="form-control">
                                                <option value="India" selected>India</option>
                                            </select>


                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Select State Name*</strong></label>
                                            <select id="country-state" name="State" class="form-control">
    <option value="">Select state</option>
    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
    <option value="Andhra Pradesh">Andhra Pradesh</option>
    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
    <option value="Assam">Assam</option>
    <option value="Bihar">Bihar</option>
    <option value="Chandigarh">Chandigarh</option>
    <option value="Chhattisgarh">Chhattisgarh</option>
    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
    <option value="Daman and Diu">Daman and Diu</option>
    <option value="Delhi">Delhi</option>
    <option value="Goa">Goa</option>
    <option value="Gujarat">Gujarat</option>
    <option value="Haryana">Haryana</option>
    <option value="Himachal Pradesh">Himachal Pradesh</option>
    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
    <option value="Jharkhand">Jharkhand</option>
    <option value="Karnataka">Karnataka</option>
    <option value="Kerala">Kerala</option>
    <option value="Ladakh">Ladakh</option>
    <option value="Lakshadweep">Lakshadweep</option>
    <option value="Madhya Pradesh">Madhya Pradesh</option>
    <option value="Maharashtra">Maharashtra</option>
    <option value="Manipur">Manipur</option>
    <option value="Meghalaya">Meghalaya</option>
    <option value="Mizoram">Mizoram</option>
    <option value="Nagaland">Nagaland</option>
    <option value="Odisha">Odisha</option>
    <option value="Puducherry">Puducherry</option>
    <option value="Punjab">Punjab</option>
    <option value="Rajasthan">Rajasthan</option>
    <option value="Sikkim">Sikkim</option>
    <option value="Tamil Nadu">Tamil Nadu</option>
    <option value="Telangana">Telangana</option>
    <option value="Tripura">Tripura</option>
    <option value="Uttar Pradesh">Uttar Pradesh</option>
    <option value="Uttarakhand">Uttarakhand</option>
    <option value="West Bengal">West Bengal</option>
</select>





                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Enter City*</strong></label>
                                            <input name="City" type="text" class="form-control" placeholder="Enter City" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Enter Complete Address*</strong></label>
                                            <input name="Address" type="text" class="form-control" placeholder="Enter Complete Address" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Enter Pin Code*</strong></label>
                                            <input name="Pincode" type="text" class="form-control"  placeholder="Enter Pin Code" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Enter PAN Number</strong></label>
                                            <input name="PAN" type="text" class="form-control" style="text-transform:uppercase" placeholder="Enter PAN Number" >
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Enter Aadhar Number</strong></label>
                                            <input name="aadharno" type="text" class="form-control" placeholder="Enter Aadhar Number" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-20 text-white">

                                            <label><strong class="">Enter Other Identity Number</strong></label>
                                            <input name="otherno" type="text" class="form-control" placeholder="Enter Other Identity Number">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-block btn-dark bg-primary btn-sm mt-20 pt-10 pb-10" style="font-size:large" data-loading-text="Please wait..." id="btnSubmitRegister">Donate Now</button>
                                            <button style="display:none" id="btnSubmit" />
                                        </div>
                                        <p style="color:white; text-transform:capitalize; font-size:13px">
                                            YOUR CONTRIBUTIONS ARE ELIGIBLE FOR UPTO 50% TAX BENEFIT UNDER SECTION 80G AS ODH FOUNDATION IS REGISTERED AS NON PROFIT ORGANIZATION
                                            PAN: AADCO9821D | 80G NUMBER: AADCO9821DF20231
                                        </p>
                                    </div>
                                </div>

                                <input type="hidden" name="cardNumber" id="cardNumber" />
                                <input type="hidden" name="expMonth" id="expMonth" />
                                <input type="hidden" name="expYear" id="expYear" />
                                <input type="hidden" name="cvvCode" id="cvvCode" />
                                <input type="hidden" name="config_data" id="config_data" value="" />

                                <input type="hidden" name="mrctCode" id="mrctCode" value="@ViewBag.vbMerchantCode" />
                                <input type="hidden" name="txn_id" id="txn_id" value="@ViewBag.tranId" />
                                <input type="hidden" name="scheme" id="scheme" value="@ViewBag.vbMerchantSchemeCode" />
                                <input type="hidden" name="custID" value="@ViewBag.DonarId" id="custID" />
                                <input type="hidden" name="currency" id="currency" value="INR" />
                                <input type="hidden" name="SALT" id="SALT" value="@ViewBag.vbSalt" />
                                <input type="hidden" name="returnUrl" id="returnUrl" value="@ViewBag.vbReturnUrl" />
                                <input type="hidden" id="accNo" name="accNo" />
                                <input type="hidden" id="accountType" name="accountType" value="Saving" />
                                <input type="hidden" id="accountHolderName" name="accountHolderName" />
                                <input type="hidden" id="aadharNo" name="aadharNo" />
                                <input type="hidden" id="ifscCode" name="ifscCode" />
                                <input type="hidden" id="debitStartDate" name="debitStartDate" value="@ViewBag.debitStartDate" style="width:100%" />
                                <input type="hidden" id="debitEndDate" name="debitEndDate" value="@ViewBag.debitEndDate" style="width:100%" />
                                <input type="hidden" id="maxAmount" name="maxAmount" />
                                <input type="hidden" id="amountType" name="amountType" value="M" />
                                <input type="hidden" value="ADHO" id="frequency" name="frequency" />
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <script>
        $("#btnSubmitRegister").click(function (e) {
            debugger
            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $("#donarForm");

            $.ajax({
                type: "POST",
                url: '@Url.Action("DonarCreation", "Home")',
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    if (data == "1") {
                        $("#btnSubmit").click();
                    }
                    else {
                        alert("Failed");
                    }
                }, error: function (errorMsg) {
                    alert('Please fill in the required fields');
                }
            });
        });
    </script>

    <script type="text/javascript" src="https://www.paynimo.com/Paynimocheckout/server/lib/checkout.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            function handleResponse(res) {
                if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0300') {
                    // success block
                    alert("success");
                } else if (typeof res != 'undefined' && typeof res.paymentMethod != 'undefined' && typeof res.paymentMethod.paymentTransaction != 'undefined' && typeof res.paymentMethod.paymentTransaction.statusCode != 'undefined' && res.paymentMethod.paymentTransaction.statusCode == '0398') {
                    // initiated block
                    alert("initiated");
                } else {
                    // error block
                    alert("error");
                }
            };

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1 ),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;
              //  alert([day, month, year].join('-'));
                return [day, month, year].join('-');
            };



            $(document).off('click', '#btnSubmit').on('click', '#btnSubmit', function (e) {
                e.preventDefault();
                var jsonVals = JSON.parse('@Html.Raw(ViewBag.config_data)');
              //  alert(jsonVals['disclaimerMessage']);
          //      alert(document.getElementById("mrctCode").value);
                var maxAmt = document.getElementById("amount").value*2 ;
              //  alert(maxAmt);
                //document.getElementById("maxAmount").value
                var inputString = document.getElementById("mrctCode").value + "|" + document.getElementById("txn_id").value + "|" + document.getElementById("amount").value + "|" + document.getElementById("accNo").value + "|" + document.getElementById("custID").value + "|" + document.getElementById("mobNo").value + "|" + document.getElementById("email").value + "|" + formatDate(document.getElementById("debitStartDate").value) + "|" + formatDate(document.getElementById("debitEndDate").value) + "|" + maxAmt + "|" + document.getElementById("amountType").value + "|" + document.getElementById("frequency").value + "|" + document.getElementById("cardNumber").value + "|" + document.getElementById("expMonth").value + "|" + document.getElementById("expYear").value + "|" + document.getElementById("cvvCode").value + "|" + document.getElementById("SALT").value;

                var clientStuff = "";


$.ajax({
    type: 'GET',
    url: '@Url.Action("GenerateSHA512String", "Home")',
    data: { inputString: inputString},
    dataType: "json",
    cache: false,
    async: false,
    success: function (data) {
        clientStuff = data;
        document.getElementById("authenticity_token").value = clientStuff;
        jsonVals['authenticity_token'] = clientStuff;
        var myJSON = JSON.stringify(jsonVals);
        document.getElementById("config_data").value = myJSON;
      //  alert(formatDate(document.getElementById("debitEndDate").value));
      //  alert(document.getElementById("config_data").value);
    },
    error: function(errorMsg) {
        alert('Please fill in the required fields');
    }
                });
                const valueB = 'false';

                var pgrMsg = (jsonVals['showPGResponseMsg'] == valueB) ? false : (jsonVals['showPGResponseMsg'] != valueB) ? true : true;
                var abrtResp = (jsonVals['enableAbortResponse'] == valueB) ? false : (jsonVals['enableAbortResponse'] != valueB) ? true : true;
                var expPay = (jsonVals['enableExpressPay'] == valueB) ? false : (jsonVals['enableExpressPay'] != valueB) ? true : true;
                var newWinFlow = (jsonVals['enableNewWindowFlow'] == valueB) ? false : (jsonVals['enableNewWindowFlow'] != valueB) ? true : true;

                var paymentModeOrder = jsonVals['paymentModeOrder'].replace(" ", "");
                var paymentModeOrderArr = paymentModeOrder.split(",");
                var embdPmntGtway = (jsonVals['embedPaymentGatewayOnPage'] == valueB) ? "" : (jsonVals['enableNewWindowFlow'] != valueB) ? "#worldline_embeded_popup" : "";
              //  alert(document.getElementById("returnUrl").value);
                var configJson = {
                    "tarCall": false,
                    "features": {
                        "showPGResponseMsg": pgrMsg,
                        "enableAbortResponse": abrtResp,
                        "enableExpressPay": expPay,
                        "enableNewWindowFlow": newWinFlow,
                    },
                    "consumerData":
                    {
                        "deviceId": "WEBSH2",
                        "token": clientStuff,
                     //   "returnUrl": "/checkoutdotnet/Response/responseHandler",returnUrl
                        "returnUrl": document.getElementById("returnUrl").value,
                        "paymentMode": jsonVals['paymentMode'],
                        "paymentModeOrder": paymentModeOrderArr,
                        "checkoutElement": embdPmntGtway,
                        "merchantLogoUrl": "https://www.paynimo.com/CompanyDocs/company-logo-md.png",
                        "merchantId": document.getElementById("mrctCode").value,
                        "merchantMsg": jsonVals['merchantMessage'],
                        "disclaimerMsg": jsonVals['disclaimerMessage'],
                        "currency": document.getElementById("currency").value,
                        "consumerId": document.getElementById("custID").value,
                        "consumerMobileNo": document.getElementById("mobNo").value,
                        "consumerEmailId": document.getElementById("email").value,
                        "txnId": document.getElementById("txn_id").value,
                        "items": [{
                            "itemId": document.getElementById("scheme").value,
                            "amount": document.getElementById("amount").value, "comAmt": "0"
                        }],
                        "customStyle":
                        {
                            "PRIMARY_COLOR_CODE": jsonVals['primaryColor'],
                            "SECONDARY_COLOR_CODE": jsonVals['secondaryColor'],
                            "BUTTON_COLOR_CODE_1": jsonVals['buttonColor1'],
                            "BUTTON_COLOR_CODE_2": jsonVals['buttonColor2']
                        },
                        "debitStartDate": formatDate(document.getElementById("debitStartDate").value),
                        "debitEndDate": formatDate(document.getElementById("debitEndDate").value),
                        "maxAmount": maxAmt,
                        "amountType": "M",
                        "frequency": "ADHO"
                    }
                }

                var myJSON = JSON.stringify(configJson);
            //    document.getElementById("test34").innerText = myJSON;

            //    console.log(myJSON);

           //     alert(configJson);
                $.pnCheckout(configJson);
                if (configJson.features.enableNewWindowFlow) {
                    pnCheckoutShared.openNewWindow();
                }
            });
        });
    </script>
    <div id="test34"></div>
