

@{
    ViewBag.Title = "Successfull";
    var date = DateTime.Now.Date;
    var time = DateTime.Now.ToString("hh:mm tt");
}

<div class="container text-center">
    <div class="row">
        
        <div class="col-md-5"></div>
        <div class="col-md-7">
            @if (ViewBag.online_transaction_msg[1] == "success" || ViewBag.online_transaction_msg[1] == "SUCCESS")
            {
                <img class="img-responsive xs-pull-center" src="~/Content/download.png" style="width:30%" />
            }
            else
            {
                <img class="img-responsive xs-pull-center" src="~/Content/failed.png" style="width:20%" />
            }
        </div>
    </div>
    <div class="row">
        <div class="card">
            @if (ViewBag.online_transaction_msg[1] == "success" || ViewBag.online_transaction_msg[1] == "SUCCESS")
        {
            <h3 class="text-theme-colored">Payment Successful</h3>
                <h2> Thank you for your contribution </h2>
        }
        else
        {
            <h3 style="color:red">Oops! Payment Failed</h3>
        }
            
            <strong>Transaction Status :</strong>   @ViewBag.online_transaction_msg[1] <br />
            <strong>Transaction Amount :</strong>   @ViewBag.online_transaction_msg[6] <br />
            <strong> Transaction Reference Number:</strong>  @ViewBag.online_transaction_msg[3] <br />
            <strong> Bank Reference Number:</strong>   @ViewBag.online_transaction_msg[5] <br />
           @* <strong> Date & Time:</strong> @date.ToString("dd MMM yyyy") & @time@ViewBag.online_transaction_msg[8]<br />80G Receipt*@
            <strong> Date & Time:</strong>@ViewBag.online_transaction_msg[8]<br />
            @if (ViewBag.online_transaction_msg[1] == "success" || ViewBag.online_transaction_msg[1] == "SUCCESS")
            {
                <a class="btn btn-primary" href="/Home/PrintInvoiceCrystal?txnid=@ViewBag.online_transaction_msg[3]" target="_blank">Print 80G Receipt</a>
                <a class="btn btn-success" href="/Home/PrintCertificateCrystal?txnid=@ViewBag.online_transaction_msg[3]" target="_blank">Print 80G Certificate</a>
                <p class="text-theme-colored" style="text-align:center"></p>
                <p class="text-theme-colored" style="text-align:center"></p>
                <p class="text-theme-colored" style="text-align:center">Your 80G receipt will be sent to your registered email address within 2-3 working days.</p>
            }
            else
            {
                <br /><p class="text-theme-colored" style="text-align:center">Don't worry your money is safe!</p>
                <br /><p class="text-theme-colored" style="text-align:center">If money was debited from your account, it will be refunded automatically in 5-7 working days.</p>


            }
           
        </div>
    </div>
</div>



